table{
	border: 0px solid;
}
tr{
	height: 70px;
}
th{
	align-content: center;
	border-radius: 10px;
	color : yellow;
	background-color: black;
	width: 100px;
}
th#title{
	font-size: 25pt;
	font-weight: bold;
}
a{
	color: gray;
	background-color : yellow;
	border-radius: 3px;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	color: tomato;
	text-decoration: none;
}
td{
	border-radius: 10px;
	text-align: center;
	background-color: yellow;
	font-size: 20pt;
}
td.now{
	text-align: center;
	font-size: 20pt;
}
td.nowSun{
	color: red;
}
td.nowSat{
	color: blue
}
td.before{
	color: gray;
	font-size: 15px;
	vertical-align: top;
	text-align: right;
}
td.beforeSun{
	color: red;
	font-size: 15px;
	vertical-align: top;
	text-align: right;
}
td.next{
	color: gray;
	font-size: 15px;
	vertical-align: top;
	text-align: right;
}
td.nextSat{
	color: blue;
	font-size: 15px;
	vertical-align: top;
	text-align: right;
}
div{
	float: right;
	padding-right: 10px;
}
.select{
	width: 100px;
	height: 40px;
	font-size: 16pt;
}
input {
	width: 100px;
	height: 40px;
	font-weight: bold;
	color: white;
	background-color: black;
	border-radius: 4px;
}
